<h1 mat-dialog-title>Editar conteúdo</h1>
<div mat-dialog-content class="editBody">
    Nome:
    <label>
        <textarea (input)="name=$event.target.value" value="{{data.name}}"></textarea>
    </label>

    Descrição:
    <label>
        <textarea (input)="description=$event.target.value" value="{{data.description}}"></textarea>
    </label>

    Bibliografia:
    <ul>
        <li *ngFor="let eachBibliography of data.bibliography; let i = index">
            <label>
                <textarea (input)="bibliography[i][0]=$event.target.value" value="{{eachBibliography[0]}}"></textarea>
            </label>
            <label>
                <textarea (input)="bibliography[i][1]=$event.target.value" value="{{eachBibliography[1]}}"></textarea>
            </label>
        </li>
    </ul>

    Materiais:
    <ul>
        <li *ngFor="let eachMaterial of data.material; let i = index">
            <label>
                <textarea (input)="material[i][0]=$event.target.value" value="{{eachMaterial[0]}}"></textarea>
            </label>

            <label>
                <textarea (input)="material[i][1]=$event.target.value" value="{{eachMaterial[1]}}"></textarea>
            </label>
        </li>
    </ul>

    Aulas:
    <ul>
        <li *ngFor="let aula of data.aulas; let i = index">
            <label>
                <textarea (input)="aulas[i]=$event.target.value" value="{{aula}}"></textarea>
            </label>
        </li>
    </ul>

    <button (click)="submit()">Salvar</button>
</div>
